<%= link_to 'Admin menu', admin_path %>
<h1>New present</h1>
<%= form_for @present, :html => {:multipart => true} do |f| %>
    <p>
        <%= f.label :recipient, 'This is a present for a:'%>
        <br />
        <%= f.text_field :recipient %>
    </p>
    <p>
        <%= f.label :delivery_note, "Delivery note (eg. This month's present should arrive just before Christmas.)"%>
        <br />
        <%= f.text_field :delivery_note %>
    </p>
    <p>
        <%= label_tag 'Present choices:' %>
    </p>
    <p>
        <%= f.multi_upload :options, :image, :description => :name, :no_source => true %>
    </p>
    <p>
        <%= f.submit 'Submit' %>
    </p>
<% end %>
