<h1>Admin page</h1>
<p>
<span class='message'><%= flash[:notice] %></span>
</p>
<ul>
    <li>
        <%= link_to 'Create a new present', new_present_path %>
    </li>
	<li>
		<%= link_to 'View all presents', presents_path %>
	</li>	
    <li>
        <%= link_to 'Create a new post', new_story_path %>
    </li>
    <li>
        <%= link_to 'Edit posts', stories_path %>
    </li>
    <li>
        <%= link_to 'Post on "Things I Like"', new_thing_path %>
    </li>
    <li>
        <%= link_to 'Edit "Things I Like"', things_path %>
    </li>
    <li>
        <%= link_to 'View orders', orders_path %>
    </li>
    <li>
        <%= link_to 'Create a shop', new_shop_path %>
    </li>
	<li>
		<%= link_to 'Edit shops', admin_shops_path %>
	</li>
    <li>
        <%= link_to 'Set prices for presents', present_products_path %>
    </li>
	<li>
		<%= link_to 'Edit the scrolly machine', scroller_images_path %>
	</li>
	<li>
		<%= link_to 'All your fwends', users_path %>
	</li>
</ul>