<h1><%= @shop.name %></h1>
<span><%= flash[:notice] %></span>
<h3>Artists</h3>
	<%= form_tag :action => 'add_artist', :id => @shop.name do %>
	<p>
		<%= label_tag :artist_email, 'Enter an e-mail to add an artist.' %><br />
		<%= text_field_tag :artist_email %>
	</p>
	<p>
		<%= submit_tag 'Add'%>
	</p>
	<% end %>
	<ul>
	<% @shop.artists.each do |a| %>
	<li>
		<%= a.name %> 
		<%= button_to 'Remove', {:controller => :shops, :action => :remove_artist, :id => @shop.name, :artist_id => a.id, :method => :post} %>
	</li>
	<% end %>
	</ul>
<h3>Shop</h3>
<%= form_for @shop do |f| %>
    <% unless @user[:admin].nil? %>
    <p>
        <%= f.label :online, 'Is your shop ready to go online?' %>
        <%= f.check_box :online %>
    </p>
 	<% end %>
    <p>
        <%= f.label :blurb, 'A one line description of your shop' %>
        <br />
        <%= f.text_field :blurb %>
    </p>
    <p>
        <%= f.label :description, 'A longer description including a bit about yourself' %>
        <br />
        <%= f.text_area :description, :rows => 4 %>
    </p>
	<p>
		<%= f.label :logo, 'Logo' %><br />
		<%= f.label :logo, '400px wide, any height, landscape is ideal.' %>
		<% if @shop.logo %>
			<p>
				<%= image_tag @shop.logo.file_url(:thumbnail) %>
			</p>
		<% end %>
		<br />
		<%= f.fields_for :logo do |u|%>
			<%= u.file_field :file %>
		<% end %>
	</p>
	<p>
		<%= f.label :cover, 'Shop front image' %><br />
		<%= f.label :cover, '310 by 248 pixels' %><br />
		<%= f.label :cover, 'This image appears with your brand name, amongst the other shops.' %>
		<% if @shop.cover %>
			<p>
				<%= image_tag @shop.cover.file_url(:thumbnail) %>
			</p>
		<% end %>
		<br />
		<%= f.fields_for :cover do |u|%>
			<%= u.file_field :file %>
		<% end %>
	</p>
    <%= f.submit 'Save' %>
<% end %>
<h3>Products</h3>
<%= link_to 'Add a product', new_shop_product_path(@shop) %>
<ul>
    <% @shop.products.each do |p| %>
        <li>
            <%= p.name %>-<%= link_to 'Edit', edit_shop_product_path(@shop,p) %>-<%= link_to 'Delete', shop_product_path(@shop,p), :method => :delete, :confirm => "Are you sure?\n(This action cannot be undone)" %>
        </li>
    <% end %>
</ul>
