<%= link_to 'Admin menu', admin_path %>
<h1>Upload to things you like</h1>
<span class='notice'><%= flash[:notice] %></span>
<%= form_for @thing do |f| %>
    <%= f.fields_for :image do |attachment| %>
        <p>
        <%= attachment.file_field :file %>
        </p>
        <p>
        <%= attachment.label :remote_file_url, "or image url" %><br />
        <%= attachment.text_field :remote_file_url %>
        </p>
    <% end %>
	<p>
		<%= f.label :source, 'Source' %>
		<br />
		<%= f.text_field :source %>
	</p>
	<p>
		<%= f.label :source_label, 'Source label' %>
		<br />
		<%= f.text_field :source_label %>
	</p>
    <%= f.submit 'Upload' %>
<% end %>
