<%= link_to 'Admin menu', admin_path %>
<h3><%= @user.name %></h3>
<p>
	Gender: <%= @user[:gender] %>
</p>
<p>
	Birthdate: <%= @user[:birthdate] %>
</p>
<p>
	Hometown: <%= @user[:hometown] %>
</p>
<p>
	Day job: <%= @user[:day_job] %>
</p>
<p>
	Dream job: <%= @user[:dream_job] %>
</p>
<p>
	Waist size: <%= @user[:waist_size] %>
</p>
<p>
	Show size: <%= @user[:shoe_size] %>
</p>
<p>
	T-shirt size: <%= @user[:tshirt_size] %>
</p>
<p>
	Dream present: <%= @user[:dream_present] %>
</p>