<%= link_to 'Admin menu', admin_path %>
<h1>Edit Order</h1>
<%= form_for @order do |f| %>
    
    <%= f.label :delivery_address, 'Delivery address' %>
    <%= f.fields_for :delivery_address do |d| %>
        <% @order.delivery_address.keys.each do |k| %>
           <p><%= d.text_field k, :value => @order.delivery_address[k] %></p>
        <% end %>
    <% end %>
    <%= f.submit "Save changes" %>
<% end %>
