<%= link_to 'Admin menu', admin_path %>
<h1>Orders</h1>
<%= form_tag '/orders/search' do  %>
	<p>
	<%= label_tag'Reference number' %><br />
	<%= text_field_tag :ref_no %>
	</p>
	<p>
	<%= submit_tag 'Search' %>
	</p>
<% end %>
<%= form_tag '/orders', :method => :get do |form| %>
	<p>
		<%= label_tag :from_date, "Start date" %><br />
		<%= date_select :from, :date, :default => @from_date %>
	</p>
	<p>
		<%= label_tag :to_date, "End date" %><br />
		<%= date_select :to, :date, :default => @to_date %>
	</p>
	<p>
		<%= submit_tag "Search" %>
	</p>
<% end %>
<table class='record_table'>
    <tr>
        <th>
            Ref no.
        </th>
        <th>
            Customer
        </th>
        <th>
            Paid
        </th>
        <th>
            Shipped
        </th>
    </tr>
    <% @orders.each do |o| %>
        <tr>  
            <%= form_for o, :remote => true, :format => :js do |f| %>
                <td>
                    <%= link_to o.ref_no, edit_order_path(o) %>
                </td>
                <td>
                    <%= f.label :customer, o.user.name %>
                </td>
                <td>
                    <%= f.check_box :paid, :data_trigger_submit => true %>
                </td>
                <td>
                    <%= f.check_box :shipped, :data_trigger_submit => true %>
                </td>
                
                    <%= f.submit 'Save', :class => 'hidden' %>
                
            <% end %>
        </tr>
        
    <% end %>    
</table>
