<h1>Order your present in the post</h1>
<% unless @order.errors.empty? %>
<span class='message'>Could not create order.</span>
<ul>
<% @order.errors.messages.values.each do |e| %>
<li><span class='error'><%= e.first.to_s %></span></li>
<% end %>
</ul>
<% end %>
<% if @present && @presents.empty?  %>
<p>
    We're sorry, there is no present available to order at this time, please check back soon.
</p>
<% else %>
    <div id='order_container'>
    <%= form_for @order do |f| %>
        <% if @present %>
            <p>
                <%= f.label :product, 'How many presents would you like to receive?' %>
                <br />
				<%= f.fields_for 'order_items[0]' do |oi| %>
                <%= oi.select 'product_id', @products.map {|p| [p.name, p.id]} %>
				<% end %>
            </p>
            <p>
                <%= f.label 'Choose the option to get the present bested suited to you'%>
            </p>
            <%= f.fields_for :options do |o| %>
                <p>
                    <%= o.label :recipient, 'This present is for a:'%>
                    <br />
                    <%= o.select :recipient, @presents.collect {|pres| [pres.recipient, pres.id]} %>
                </p>
 				<div id='choices_container'>
					<% @presents.each_with_index do |p, i| %>
						<% unless p.options.empty? %>
							<div id='choices_<%= i %>' class='choices hidden'>
								<% p.options.each do |option| %>
								<div class='card'>
					            <label>
					            <%= image_tag option.image_url %>
					            <br />
					            <%= o.radio_button 'choice', option.name %>
					            </label>
					            </div>
								<% end %>
							</div>	
						<% end %>
					<% end %>
				</div>
             <% end %>
         <% else %>
            <h2><%= label_tag "Ordering #{(@products.collect {|p| p.name}).join(',')}" %></h2>
			<% @products.each_with_index do |product, index| %>
				<%= f.fields_for "order_items[#{index}]" do |oi| %>
	            	<%= oi.hidden_field 'product_id', :value => product.id %>
				<% end %>
			<% end %>
         <% end %>
         <div id='options_container'>
         <%= f.fields_for :options do |o| %>
            <p>
                <%= o.label :gift, 'Send as a gift?' %>
                <%= o.check_box :gift %>
            </p>
            <div id='message' class='hidden'>
                <p>
                    <%= o.label :message, 'Write a message'%>
                    <br />
                    <%= o.text_area :message, :rows => 8  %>
                </p>
            </div>
        <% end %>
        
        <%= f.label :delivery_address, 'Delivery address' %>
        <%= f.fields_for :delivery_address do |a| %>
            <% 3.times do |i| %>
                <p>
                    <%= a.label "line #{i}", "Address line #{i + 1}"%>
                    <br />
                    <%= a.text_field i %>
                </p>
            <% end %>
            <p>
                <%= a.label :post_code, "Postal code"%>
                <br />
                <%= a.text_field :post_code %>
            </p>
        <% end %>
		<p>
        	<%= f.submit "Order" %>
		</p>	
        </div>
    <% end %>
    <% if @presents %>
        <div class='hidden'>
            <%= form_tag present_path(@presents[0].id), :method => :get, :remote => true, :id => 'submit_present' do %>
                <%= submit_tag  %>
            <% end %>    
        </div>
    <% end %>
    </div>
<% end %>
