<% if @presents.empty?  %>
<p>
    We're sorry, there is no present available to order at this time, please check back soon.
</p>
<% else %>
    <div id='order_container'>
	    <%= form_tag '/cart/add_present' do %>
	   		<p>
				<%= label_tag :product, 'How many presents would you like to receive?' %>
				<br />
				<%= select_tag :product_id, options_from_collection_for_select(@products, :id, :name) %>
			</p>
			<p>
				<%= label_tag 'Choose the option to get the present best suited to you'%>
			</p>
			<%= fields_for :options do |o| %>
				<p>
					<%= o.label :recipient, 'This present is for a:'%>
					<br />
					<%= o.select :recipient, options_from_collection_for_select(@presents, :id, :recipient) %>
				</p>
				<div id='choices_container'>
					<% @presents.each_with_index do |p, i| %>
						<% unless p.options.empty? %>
							<div id='choices_<%= i %>' class='choices hidden'>
								<% p.options.each_with_index do |option, index| %>
									<div class='card'>
										<label>
											<%= image_tag option.image_url(:thumbnail) %>
											<br />
											<%= o.radio_button 'choice', index %>
										</label>
									</div>
								<% end %>
							</div>	
						<% end %>
					<% end %>
				</div>
			<% end %>	
			<%= submit_tag 'Add to cart' %>
		<% end %>
	</div>
<% end %>
<div class="info_container">
	<h3>How it works</h3>
	<ul>
		<li>
			Sign up.
		</li>
		<li>
			Pay R250 for one surprise present made by a local designer or artist.
		</li>
		<li>
			Tell us if the present is for a boy or a girl.
		</li>
		<li>
			Customise your present by clicking on your favorite picture.
		</li> 
		<li>
			Decide if the present is for you or a friend. If its for a friend, write them a letter.
		</li>
		<li>
			Wait for your present in the post.
		</li>
		<li>
			Once Raj has delivered all the presents, check out the shop for more designs by the monthly maker.
		</li>
	</ul>
</div>
