<%= content_for :prenav do %>
<div id='three_pictures'>
    <%= image_tag '3steps.jpg', :usemap => "#three_steps" %>
    <map name='three_steps'>
		<area shape="rect" coords="50,59,269,311" href="<%= new_user_path %>" alt="Sun">
		<area shape="rect" coords="273,6,464, 309" href="<%= get_a_present_path %>" alt="Sun">
		<area shape="rect" coords="508,41,656, 317" href="<%= posted_presents_path %>" alt="Sun">
	</map>
</div>

<% end %>

<%= render 'image_scroller', :images => @scroller_images %>
<div class="info_container">
	<h3>How it works</h3>
	<ul>
		<li>
			Sign up.
		</li>
		<li>
			Pay R250 for one surprise present made by a local designer or artist.
		</li>
		<li>
			Tell us if the present is for a boy or a girl.
		</li>
		<li>
			Customise your present by clicking on your favorite picture.
		</li> 
		<li>
			Decide if the present is for you or a friend. If its for a friend, write them a letter.
		</li>
		<li>
			Wait for your present in the post.
		</li>
		<li>
			Once Raj has delivered all the presents, check out the shop for more designs by the monthly maker.
		</li>
	</ul>
</div>