<%= content_for :prenav do %>
<div id='three_pictures'>
    <%= image_tag '3steps.jpg' %>
    <a href='<%= new_user_path %>' style='position: absolute; top: 65px; left: 50px; width: 204px; height: 256px;'></a>
    <a href='<%= get_a_present_path %>' style='position: absolute; top: 6px; left: 273px; width: 191px; height: 313px;'></a>	
	<a href='<%= posted_presents_path %>' style='position: absolute; top: 41px; left: 508px; width: 148px; height: 276px;'></a>	
</div>

<% end %>

<%= render 'image_scroller', :images => @scroller_images %>
