<h1>Checkout</h1>
You are about to order:
<ul>
	<% @order.order_items.each do |oi| %>
		<li><%= oi.name %></li>
	<% end %>
</ul>
<p>
Total: <%= number_to_currency @order.total %>
</p>
<% unless @order[:error].nil? %>
	<%= @order[:error] %>
<% end %>
<%= form_for @order, :url => "/payment?id=#{@order.id}", :method => :post, html: {'data-validate' => true} do |f| %>
	<%= f.fields_for :order_items do |oi| %>
		<% @order.order_items.each_with_index do |item, index| %>
			<%= oi.fields_for index.to_s do |i| %>
				<%= i.hidden_field :name, :value => item.name %>
				<%= i.hidden_field :price, :value => item.price %>
				<%= i.hidden_field :shop, :value => item.shop %>
				<%= i.hidden_field :note, :value => item.note %>	
				<%= i.fields_for :options do |option| %>
					<% item[:options].each do |key, val| %>
						<%= option.hidden_field key, :value => val %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	<% unless (@order.order_items.all?{|item| item[:options].has_key?('delivery_address_0') }) %>
	    <%= f.label :delivery_address, 'Your delivery address' %>
	    <%= f.fields_for :delivery_address do |a| %>
            <p>
                <%= a.label "line 0", "Address line 1"%>
                <br />
                <%= a.text_field '0', :value => @order.delivery_address['0'], :class => 'required' %>
            </p>
			<p>
                <%= a.label "line 1", "Address line 2"%>
                <br />
                <%= a.text_field '1', :value => @order.delivery_address['1'] %>
            </p>
			<p>
                <%= a.label "line 2", "Address line 3"%>
                <br />
                <%= a.text_field '2', :value => @order.delivery_address['2'] %>
            </p>
	        <p>
	            <%= a.label :post_code, "Postal code"%>
	            <br />
	            <%= a.text_field :post_code, :value => @order.delivery_address['post_code'], :class => 'required' %>
	        </p>
	    <% end %>
	<% end %>
	<p>
		Purchase online now via credit card. Transaction secured by MyGate.<br />
    	<%= f.submit "Pay by credit card" %>
	</p>	
	<p>
		Receive an e-mail with our banking details and make a transfer.<br />
		<%= f.submit "Pay by EFT" %>
	</p>
<% end %>