<h1>Checkout</h1>
You are about to order:
<ul>
	<% @order.order_items.each do |oi| %>
		<li><%= oi.name %></li>
	<% end %>
</ul>
<p>
Total: <%= number_to_currency @order.total %>
</p>
<% unless @order[:error].nil? %>
	<%= @order[:error] %>
<% end %>
<%= form_for @order, :url => "/payment?id=#{@order.id}", :method => :post do |f| %>
	<%= f.fields_for :order_items do |oi| %>
		<% @order.order_items.each_with_index do |item, index| %>
			<%= oi.fields_for index.to_s do |i| %>
				<%= i.hidden_field :name, :value => item.name %>
				<%= i.hidden_field :price, :value => item.price %>
				<%= i.hidden_field :shop, :value => item.shop %>
				<%= i.hidden_field :note, :value => item.note %>	
				<%= i.fields_for :options do |option| %>
					<% item[:options].each do |key, val| %>
						<%= option.hidden_field key, :value => val %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	<% unless (@order.order_items.select{|item| item[:options]['gift'] == '0' }).empty? %>
	    <%= f.label :delivery_address, 'Your delivery address' %>
	    <%= f.fields_for :delivery_address do |a| %>
	        <% 3.times do |i| %>
	            <p>
	                <%= a.label "line #{i}", "Address line #{i + 1}"%>
	                <br />
	                <%= a.text_field i.to_s, :value => @order.delivery_address[i.to_s] %>
	            </p>
	        <% end %>
	        <p>
	            <%= a.label :post_code, "Postal code"%>
	            <br />
	            <%= a.text_field :post_code, :value => @order.delivery_address['post_code'] %>
	        </p>
	    <% end %>
	<% end %>
	<p>
		Purchase online now via credit card. Transaction secured by MyGate.<br />
    	<%= f.submit "Pay by credit card" %>
	</p>	
	<p>
		Receive an e-mail with our banking details and make a transfer.<br />
		<%= f.submit "Pay by EFT" %>
	</p>
<% end %>