<h1>Checkout</h1>
You are about to order:
<ul>
	<% @order.order_items.each do |oi| %>
		<li><%= oi.name %></li>
	<% end %>
</ul>
<p>
Total: <%= number_to_currency @order.total %>
</p>
<h3>Order Details</h3>
<% unless @order[:error].nil? %>
	<%= @order[:error] %>
<% end %>
<%= form_for @order, :url => "/payment?id=#{@order.id}", :method => :post do |f| %>
	<%= f.fields_for :order_items do |oi| %>
		<% @order.order_items.each_with_index do |item, index| %>
			<%= oi.fields_for index.to_s do |i| %>
				<%= i.hidden_field :name, :value => item.name %>
				<%= i.hidden_field :price, :value => item.price %>
				<%= i.hidden_field :shop, :value => item.shop %>
				<%= i.hidden_field :note, :value => item.note %>								
			<% end %>
		<% end %>
	<% end %>
     <%= f.fields_for :options do |o| %>
        <p>
            <%= o.label :gift, 'Send as a gift?' %>
			<% if @order.options['gift'] %>
	            <%= check_box_tag 'order[options][gift]', 'yes', :checked => true %>
			<% else %>
	            <%= check_box_tag 'order[options][gift]', 'yes' %>
			<% end %>
        </p>
        <div id='message' class='hidden'>
            <p>
                <%= o.label :message, 'Write a message'%>
                <br />
                <%= text_area_tag 'order[options][message]', @order.options['message'], :rows => 8, :cols => 40  %>
            </p>
        </div>
    <% end %>
    <%= f.label :delivery_address, 'Delivery address' %>
    <%= f.fields_for :delivery_address do |a| %>
        <% 3.times do |i| %>
            <p>
                <%= a.label "line #{i}", "Address line #{i + 1}"%>
                <br />
                <%= a.text_field i.to_s, :value => @order.delivery_address[i.to_s] %>
            </p>
        <% end %>
        <p>
            <%= a.label :post_code, "Postal code"%>
            <br />
            <%= a.text_field :post_code, :value => @order.delivery_address['post_code'] %>
        </p>
    <% end %>
	<p>
    	<%= f.submit "Purchase" %>
	</p>	
<% end %>