<% content_for :head do %>
	<meta property='og:title' content='<%= story.title %>' />
	<meta property='og:type' content='article' />
	<% if story.images.count > 0 %>
		<meta property='og:image' content='<%= story.images.first.file_url(:thumbnail) %>' />
	<% else %>
	    <meta property='og:image' content='http://www.presentsinthepost.co.za/images/wallpaper.jpg' />
	<% end %>
	<meta property='og:url' content='<%="http://www.presentsinthepost.co.za/stories/#{story.id}" %>' />
	<meta property='og:site_name' content='Presents in the Post' />
	<meta property='fb:admins' content='193700468' />
<% end %>
<section class='story_container'>
    <h2 class='story_title'>
        <%= link_to story.title, story_path(story) %>
    </h2>
    <p class='story_date'>
        <%= story.created_at.to_date.to_formatted_s :long_ordinal %>
    </p>
	<div class='story'>
        <%= simple_format(story.intro) %>
    </div>
		<% story.images.each do |img| %>
			<%= image_div img.file_url, 'blog_image' %>
		<% end %>
    <div class='story'>
        <%= simple_format(story.content) %>
    </div>
	<div class='social_media'>
    <div class="fb-like" data-href='<%= "http://www.presentsinthepost.co.za/stories/#{story.id}" %>' data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
	<su:badge layout="1" location='<%= "http://www.presentsinthepost.co.za/stories/#{story.id}" %>'></su:badge>
	<script type="text/javascript">
	  (function() {
	    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
	    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
	  })();
	</script>
	<a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + <%= "http://www.presentsinthepost.co.za/stories/#{story.id}" %>; return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url='<%= "http://www.presentsinthepost.co.za/stories/#{story.id}" %>' data-text="<%= story.title %>">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
    <p>
      <a name='comments' onclick='toggleComments("<%= story.id %>")' class='comments_link'>Comments (<%= story.comments.count %>)</a>
    </p>
    <div class='hidden' id="<%= story.id %>_comments">
        <h3>Comments</h3>
        <% story.comments.each do |comment| %>
			<div class='comment'>
            	<div class='comment_author'>
	                <% if comment.website.empty? %>
	                    <%= comment.name %>
	                <% else %>
	                    <%= link_to comment.name, comment.website %>
	                <% end %>
	            </div>
				<div class='comment_content'>
	            <%= simple_format comment.content %>
				</div>
				<div class='comment_time'>
	                <%= comment.created_at.to_formatted_s :long_ordinal %>
	            </div>
			</div>
        <% end %>

		<h4>Post a comment</h4>
        <%= form_for([story, Comment.comment_for(@user)]) do |f| %>
            <p>
                <%= f.label :name, 'Name' %>
                <br />
                <%= f.text_field :name %>
            </p>
            <p>
                <%= f.label :email, 'Email' %>
                <br />
                <%= f.text_field :email %>
            </p>
            <p>
                <%= f.label :website, 'Website (optional)' %>
                <br />
                <%= f.text_field :website %>
            </p>
            <p>
                <%= f.label :content, 'Comment' %>
                <br />
                <%= f.text_area :content, :rows => 4 %>
            </p>
            <%= f.submit 'Submit' %>
        <% end %>
    </div>
</section>
