<%= link_to 'Admin menu', admin_path %>
<h1>
    Edit story
</h1>
<span class='notice'><%= flash[:notice] %></span>
<%= form_for @story, :multipart => true do |f| %>
    <p>
    <%= f.label :title, 'Post title' %>
    <%= f.text_field :title %>
    </p>
    <p>
    <%= f.label :content, 'Content' %>
    <%= f.text_area :content %>
    </p>
    <%= f.label :images, 'Images' %>
    <ul>
        <% @story.blog_images.each do |image| %>
            <li>
                <%= image_tag image.file_url(:thumbnail).to_s %>
                <%= link_to 'Delete', story_blog_image_path(@story, image), :method => :delete %>
            </li>
        <% end %>
    </ul>     
     
    <p>
        <%= f.multi_upload :blog_images, :file %>
    </p>
    <p>
        <%= f.submit 'Save' %>
    </p>
    <%= f.label :comments, 'Comments' %>
    <ul>
        <% @story.comments.each do |comment| %>
            <li>
                <%= comment.name %>
                <br />
                <%= raw comment.content %>
                <br />
                <%= link_to 'Delete', story_comment_path(@story, comment), :method => :delete %>
            </li>
        <% end %>
    </ul> 
<% end %>

