<%= content_for :head do %>

<%end%>
<%= link_to 'Admin menu', admin_path %>
<h1>
    New blog post
</h1>
<span class='notice'><%= flash[:notice] %></span>
<%= form_for @story, :html => {:multipart => true} do |f| %>
    <p>
        <%= f.label :title, 'Post title' %>
        <br />
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :category, 'Category' %>
        <br />
        <%= f.select :category, %w[News Present Shop] %>
    </p>
    <p>
        <%= f.label :content, 'Content' %>
        <br />
        <%= f.tinymce_managed :content %>
    </p>
    <p>
        <%= f.multi_upload :blog_images, :file %>
    </p>
    <%= f.submit 'Post' %>

    </div>
<% end %>

