<p>
Hi <%= @recipient %>
</p>
<p>
Thank you for ordering from presents in the post.
</p>
<ul>
<% @order.order_items.each do |i| %>
	<li><%= "#{i.name} from #{i.shop}." %></li>
<% end %>
</ul>
<% if(@order.delivery_note) %>
<p>
	<%= @order.delivery_note %>
</p>
<% end %>
<p>
Your reference number for this order is: <%= @order.ref_no %>
</p>
<p>
In order to complete this purchase please deposit <%= number_to_currency @order.total %> into our bank account:
</p>
<p>
Standard Bank<br />
Thibault Square <br />
Branch code: 020909<br />
Account number: 070329362<br />
</p>
<p>
Using your name as a reference. Please email the confirmation to raj@presentsinthepost.co.za. 
</p>
<p>
Sincerly,<br />
Raj
</p>
<p>
Presents in the Post
</p>
<%= image_tag attachments['signature.jpg'].url %>