<h1>Scroller images</h1>
<ul>
<% @scroller_images.each do |si| %>
	<li>
		<%= form_for si do |f| %>
			<%= image_tag si.image.file_url(:thumbnail) %>
			<br />
			<p>
				<%= f.fields_for :image do |i|%>
					<%= i.file_field :file %>
				<% end %>
			</p>
			<p>
				<%= f.label :link, 'Link' %>
				<br />
				<%= f.text_field :link %>
			</p>
			<%= f.submit 'Update' %> <%= link_to 'Delete', scroller_image_path(si), method: :delete %>
		<% end %>
	</li>
<% end %>
<ul>
<p />
<% unless @new_scroller_image.errors.empty? %>
<span class='message'>Could not create scrolly machine.</span>
<ul>
<% @new_scroller_image.errors.messages.values.each do |e| %>
<li><span class='error'><%= e.first.to_s %></span></li>
<% end %>
</ul>
<% end %>
<%= form_for @new_scroller_image do |f| %>
	<p>
		<%= f.label 'Make a new image (192 by 256 pixels)' %>
	</p>
	<p>
		<%= f.fields_for :image do |i|%>
			<%= i.file_field :file %>
		<% end %>
	</p>
	<p>
		<%= f.label :link, 'Link' %>
		<br />
		<%= f.text_field :link %>
	</p>
	<%= f.submit 'Save' %>
<% end %>