<h1><%= @shop.name %></h1>
<h2><%= @product.name %></h2>
<span class='notice'><%= flash[:notice] %></span>
<%= form_for [@shop, @product], :html => {:multipart => true} do |f| %>
    <p>
        <%= f.label :name, 'Name' %>
        <br />
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :description, 'Description' %>
        <br />
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.label :price, 'Price' %>
        <br />
        R<%= f.text_field :price %>
    </p>
    <p>
        <%= f.label 'Images (400px wide)' %><br />
		<%= f.label '400px wide. At least 280px high.' %>
    </p>
    <ul>
        <% @product.images.each do |image| %>
            <li>
                <%= image_tag image.file_url(:thumbnail).to_s %>
                <%= link_to 'Delete', shop_product_image_path(@shop, @product, image), :method => :delete %>
            </li>
        <% end %>
    </ul>  
    <p>
        <%= f.multi_upload :images, :file %>
    </p>
    <p>
        <%= f.submit 'Save' %>
    </p>
<% end %>
