<h1><%= @shop.name %></h1>
<h2>New product</h2>
<span class='notice'><%= flash[:notice] %></span>
<%= form_for [@shop, @product], :html => {:multipart => true} do |f| %>
    <p>
        <%= f.label :name, 'Name' %>
        <br />
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :description, 'Description' %>
        <br />
        <%= f.text_field :description %>
    </p>
    <p>
        <%= f.label :price, 'Price' %>
        <br />
        R<%= f.text_field :price %>
    </p>
    <p>
        <%= f.label 'Images (400px wide)' %>
    </p>
    <p>
        <%= f.multi_upload :images, :file %>
    </p>
    <p>
        <%= f.submit 'Create' %>
    </p>
<% end %>
