<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Presents In The Post</title>
  <meta name="description" content="Surprise present service and online shop." >
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.7.2/build/cssreset/cssreset-min.css">

  <%= stylesheet_link_tag    "application", :media => "all" %> 
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento|Special+Elite' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= yield :head %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35505207-1']);
  _gaq.push(['_setDomainName', 'presentsinthepost.co.za']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
    <%= yield :overlay %>
    <div id='login'>
    
    </div>
<div id='column'>    
    <div id='header'>
        <div id='user'>
            <% if @user.nil? %>
                <%= link_to 'Login', login_path %>
            <% else %>
                Hello <%= link_to @user.name, edit_user_path(@user) %> | <%= link_to 'Logout', logout_path %>
				<div id='cart'>
					<%= link_to image_tag('trolley.jpg'), cart_show_path %>
				</div>
            <% end %>
            
        </div>
        	<a href="/"><%= image_tag 'header.jpg', :id => 'logo' %></a>
        <nav>
		<div>
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
  			<%= link_to image_tag('navhome.jpg', :alt => 'Home') , home_path, :class => @tab == 'home' ? 'current' : 'regular' %> 
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
			<%= link_to image_tag('navstory.jpg', :alt => 'The Story'), the_story_path, :class => @tab == 'story' ? 'current' : 'regular' %> 
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
			<%= link_to image_tag('navpresent.jpg', :alt => 'Get A Present'), get_a_present_path, :class => @tab == 'present' ? 'current' : 'regular' %> 
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
			<%= link_to image_tag('navtoday.jpg', :alt => 'Today'), today_path, :class => @tab == 'today' ? 'current' : 'regular' %> 
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
			<%= link_to image_tag('navloves.jpg', :alt => 'Raj Loves'), raj_loves_path, :class => @tab == 'loves' ? 'current' : 'regular' %> 
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
			<%= link_to image_tag('navposted.jpg', :alt => 'Posted Presents'), posted_presents_path, :class => @tab == 'posted' ? 'current' : 'regular' %>
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
			<%= link_to image_tag('navshop.jpg', :alt => 'Shop'), shops_path, :class => @tab == 'shop' ? 'current' : 'regular' %> 
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
			<%= link_to image_tag('navcontact.jpg', :alt => 'Contact'), contact_path, :class => @tab == 'contact' ? 'current' : 'regular' %> 
			<%= image_tag 'navdot.jpg', :class => 'navdot' %>
		</div>
        </nav>
		<div>
            <%= yield :prenav %>
        </div>
    </div>
    <div id='content'>
        <%= yield %>
    </div>
	<div id="footer">
		<span>Illustrations &copy <%= link_to 'Julia Anastasopoulos', 'http://www.knolc.co.za' %>.</span>
	</div>
</div>	
</body>
</html>
