<!DOCTYPE html>
<html>
<head>
  <title>PresentsInThePost</title>
  <%= stylesheet_link_tag    "application", :media => "all" %> 
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento|Special+Elite' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
    <%= yield :overlay %>
    <div id='login'>
    
    </div>
<div id='column'>    
    <div id='header'>
        <div id='user'>
            <% if @user.nil? %>
                <%= link_to 'Login', login_path %>
            <% else %>
                Hello <%= link_to @user.name, edit_user_path(@user) %> | <%= link_to 'Logout', logout_path %>
            <% end %>
            
        </div>
        	<a href="/"><%= image_tag 'header.jpg', :id => 'logo' %></a>
        <div>
            <%= yield :prenav %>
        </div>
        <nav>
            <ul>
                <li>
                    <%= link_to 'Home', home_path %> 
                </li>
                <li>
                    <%= link_to 'Get a Present', new_order_path %> 
                </li>
                <li>
                    <%= link_to 'The Story', the_story_path %> 
                </li>
                <li>
                    <%= link_to 'Today', today_path %> 
                </li>
                <li>
                    <%= link_to 'Raj Loves', raj_loves_path %> 
                </li>
                <li>
                    <%= link_to 'Posted Presents', posted_presents_path %>
                </li>
                <li>
                    <%= link_to 'Shop', shops_path %> 
                </li>
            </ul>
        </nav>
    </div>
    <div id='content'>
        <%= yield %>
    </div>
	<div id="footer">
	</div>
</div>	
</body>
</html>
